<!DOCTYPE HTML>
<html>

<body>
    <div> Список площадок </div>
    {{sites}}
        <div>
            <b> {{id}} </b>
            <span> {{adres}} </span>
        </div>
    {{/sites}}
</body>

</html>